<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
      <body>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right">
                <br />
                <a href="main_page.html">
                  <button type="button" class="btn btn-primary">Logout</button>
                </a>
              </div>
              <h1 class="mt-4">
                Good Morning, Admin<span id="user-name"></span>
                <small class="text-muted">(Admin Dashboard)</small>
              </h1>
              <div class="mt-4">
                <br />
                <a href="create_movie.html">
                  <button type="button" class="btn btn-primary">
                    + Create Movie
                  </button>
                </a>
                <a href="viewBookedTickets.html">
                  <button type="button" class="btn btn-primary">
                    View Booked Movie Tickets
                  </button>
                </a>
                <a href="DeleteMoviePage.html">
                  <button type="button" class="btn btn-primary">
                    Delete Movie
                  </button>
                </a>
                <a href="EditmoviePage.html">
                  <button type="button" class="btn btn-primary">Update Movie Ticket</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <br />
    
        <div class="container mt-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="train-details-container" class="row">
               
              </div>
            </div>
          </div>
        </div>
    </body>
    </html>
</html>