<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin login page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
  

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <center>
            <br />
            <br />
            <h1>Admin Login</h1>
          </center>
          <form id="loginForm">
            <div class="form-group">
              <label for="user">Username:</label>
              <input type="text" class="form-control" id="usr" />
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" class="form-control" id="pwd" />
            </div>
            <div class="form-group text-right">
              <a href="Forgot_admin_password.html">Forgot Password ?</a>
            </div>
            <a
                href="Admin_Dashboard.html"
                style="color: white; text-decoration: none"
              >
            <button type="button" class="btn btn-primary btn-block">
              
                Login
            
            </button>
          </a>
            <br />

            <div class="form-group">
              <br />
              <center>
                if new user ? <br />
                <a href="Admin_Register.html">
                  <button type="button" class="btn btn-link">
                    Register Here
                  </button>
                </a>
              </center>
            </div>
          </form>
          <br />
          <div id="errorContainer" class="text-center"></div>
          <div id="messageContainer" class="text-center"></div>
        </div>
      </div>
    </div>
  </body>
</html>
