<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <scrip src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
    <title>Delete Movie</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
    <center>
      <br/>
      <br/>
      <h1>Delete Movie</h1>
<!-- 

         <h1>Delete Hotel</h1>
       <br /> 
      <br /> 
       <br /> 
      <a href="Admin_Dashboard_Page.html">Delete Hotel</a>
       <br /> 

        -->
    </center>
    <form action="Admin_Dashboard_Page.html">
      <div clas="form-group">
        <label for="trainName">Movie Id</label>
        <input type="text" class="form-control" id="trainName"/>
      </div>
      <br/>
      <br/>
      <a href="Admin_Dashboard.html">
      <button type="button" class="btn btn-primary btn-block">
        Delete Movie
      </button>
    </a>
    </form>
    <br/>
  </div>
</div>
</div>
  </body>
</html>
