<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
    <h2>forgot admin Password</h2>
    <a href="adminResetPasswordPage.html">Reset Password</a>
    -->
</body>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <center>
                        <br/>
                        <br/>
                        <h1>Reset Password</h1>
                        <br/>
                        <br/>
                    </center>
                    <form id="adminResetPasswordPage.html">
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                id="email"
                                placeholder="Enter email ID"
                                required
                            />
                            <div class="input-group-btn">
                                <button
                                    class="btn btn-primary"
                                    type="button"
                                    id="sendOtpButton"
                                >
                                Send OTP
                            </button>
                            </div>
                </div>
                <br/>
                <div class="form-group">
                    <input
                        type="password"
                        class="form-control"
                        id="otp"
                        placeholder="Enter OTP"
                        required
                    />
                </div>
                <a href="Reset_Password.html">
                <button  type="button" class="btn btn-primary btn-block">
                    Reset Password
                </button>
            </a>
                </form>
                <br/>
                </div>
            </div>
        </div>
    </body>
</html>