<!DOCTYPE html>
<html lang="en">
<!--<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proceed to Payment</title>
</head>
<body>
    <center>
        <h1>Proceed to Payment</h1>
        <a href="ViewBookedDetailPage.html">Pay Now</a>
        <br/>
        <br/>
    </center>
-->
<head>
    <link
      rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
            <center>
                <br />
                <br />
                <h1>Proceed to payment</h1>
                <br />
            </center>
            <ul>
                <li>Number of Audience = <span id="number-passenger"></span></li>
                <li>Selected Classes = <span id = "selected-classes"></span></li>
                <li>Total Price = <span id="price"></span></li>
            </ul>
            <br />
            <br />
            <div class="form-group">
                <label for="price">Total Price:</label>
                <input type="text" class="form-control" id="input-price" />
            </div>
                <div class="form-group">
                <label for="pay">Mode of payment</label>
                <div class="dropdown">
                    <button
                       class="btn btn-default dropdown-toggle"
                       type="button"
                       id="pay"
                       data-toggle="dropdown"
                       style="
                        width:100%;
                        display:flex;
                        justify-content:space-between;
                        align-items:center;
                        "
                    >
                       Mode of Payment <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" style="width:100%">
                        <li><a>UPI</a></li>
                        <li><a>Net Banking</a></li>
                    </ul>
                </div>
                
            </div>
            <br/>
            <a href="ViewBookedDetailPage.html">
            <button class="btn btn-primary btn-block">
                Pay Now
            </button>
        </a>
        <br />
    </div>
</div>
</div>
</body>
</html>