<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="pull-right">
        <br />
        <a href="main_page.html">
            <button type="button" class="btn btn-primary">LogOut</button>
        </a>
      </div>
      <br />
      <h1 class="mt-4">
        Good Morning, <span id="user-name"></span>
        <span style="color: lightgray"> (User Dashboard)</span>
      </h1>
      <div class="mt-4">
        <br />
        <br />
        <a href="Book_ticket.html">
            <button type="button" class="btn btn-primary">Book Movie Ticket</button>
        </a> 
        <a href="SearchBookedTicketDetailPage.html">
          <button type="button" class="btn btn-primary">View Movie Ticket</button>
        </a>
        <a href="Cancel_ticket.html">
          <button type="button" class="btn btn-primary">Cancel Movie Ticket</button>
        </a>
      </div>
    </div>
    <div class="container mt-4">
      <div id="booked-tickets-container"></div>
    </div>
</body>
</html>